#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: calc(100vh - 64px);
  background-color: #fff;
  border-radius: 1rem;
}

#app.dark {
  background-color: #363636;
}

#app.dark {
  color: #fff;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.overlay-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fbfbfb;
  opacity: 0.9;
  z-index: 999999;
}
.overlay-loader span {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}
.overlay-loader span svg {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

div.visible {
  position: absolute;
  transition: all 0.5s ease-in-out;
  top: 0px;
}
div.hidden {
  position: absolute;
  top: -500px;
}

.overlay-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(237 237 237 / 90%);
  z-index: 1;
  width: calc(100vw);
  height: calc(100vh);
}

.overlay-modal.hidden {
  display: none;
}

.post-form-modal.visible {
  top: 0px;
  left: 0px;
  width: calc(100vw - 64px);
  height: calc(100vh - 48px);
  background: rgb(237 237 237 / 90%);
}

.post-form-modal {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 2rem 2rem;
  background: white;
  border-radius: 0.5rem;
  position: relative;
  color: black;
}

.post-form-modal label {
  margin-bottom: 0.2rem;
}

.post-form-modal input {
  width: calc(100% - 7px);
}

.post-form-modal-button {
  width: 100%;
  color: white;
  background: green;
  border-radius: 0.3rem;
  border: 1px solid green;
  padding: 0.4rem;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
}

.post-form-modal-button:hover {
  filter: brightness(120%);
}

.post-form-modal > h2 {
  text-align: left;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.posts-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.posts-wrapper li {
  border-top: 1px solid #e3e3e3;
  padding-top: 0.6rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-header > p {
  height: 12px;
  margin-top: 0.5em;
}

.page-wrapper {
  display: flex;
}

.remove-post-button {
  cursor: pointer;
  padding: 5px;
}
.remove-post-button svg {
  margin-bottom: -4px;
}

.create-post-button {
  margin-left: 5px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.qr-code {
  margin-right: 1rem;
  cursor: pointer;
}

.qr-code-modal {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.qr-code-wrapper {
  padding: 4rem;
  background: white;
  border-radius: 1rem;
  position: relative;
}
